name: Dev Publish
on:
  push:
    branches:
      - net212

jobs:
  publish:
    runs-on: ubuntu-20.04
    env:
      DOTNET_NOLOGO: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    steps:
      - uses: actions/checkout@v2

      # RdGen
      - name: RdGen
        run: ./gradlew rdgen

      # Backend
      - name: Setup .NET Core SDK
        uses: actions/setup-dotnet@v1
        with:
          dotnet-version: '5.0.x'
      - name: Build Backend
        run: dotnet build -c Release

      # Distribution
      - name: Build Distribution
        run: ./gradlew -PBuildConfiguration=Release -PbuildNumber=${{ github.run_id }} buildPlugin

      # Publish
      - name: Publish
        shell: pwsh
        run: scripts/Publish-Distribution.ps1 -Channel dev -AuthToken $env:JETBRAINS_MARKETPLACE_TOKEN
        env:
          JETBRAINS_MARKETPLACE_TOKEN: ${{ secrets.JETBRAINS_MARKETPLACE_TOKEN }}
