name: Main
on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  schedule:
    - cron: '0 0 * * 0'

jobs:
  main:
    runs-on: ${{ matrix.image }}
    strategy:
      matrix:
        image:
          # renovate:
          - macos-15
          # renovate:
          - ubuntu-24.04
          # renovate:
          - windows-2025
      fail-fast: false
    env:
      DOTNET_NOLOGO: 1
      DOTNET_CLI_TELEMETRY_OPTOUT: 1
    steps:
      - uses: actions/checkout@v5

      - if: runner.os == 'Linux'
        name: Free disk space
        uses: jlumbroso/free-disk-space@v1.3.1
        with:
          tool-cache: false
          large-packages: false

      - name: 'Cache downloaded JDK'
        uses: actions/cache@v4
        with:
          path: |
            ~/.local/share/gradle-jvm
            ~/AppData/Local/gradle-jvm
          key: ${{ runner.os }}.jvm.${{ hashFiles('gradlew*') }}

      # Common preparation
      - name: Prepare build
        run: ./gradlew --info prepare

      # Backend
      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: '8.0.x'
      - name: Build Backend
        run: dotnet build -c Release

      # Frontend
      - name: Test
        run: ./gradlew --info -PbuildConfiguration=Release -PbuildNumber=${{ github.run_number }} check
      - name: Collect test results
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}.test-results
          path: build/reports/tests
        if: ${{ always() }}
      - name: Collect test logs
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}.test-logs
          path: build/idea-sandbox/*/log-test
        if: ${{ always() }}
      - name: Collect Plugin Verifier result
        if: ${{ always() }}
        uses: actions/upload-artifact@v4
        with:
          name: ${{ runner.os }}.pluginVerifier-result
          path: ${{ github.workspace }}/build/reports/pluginVerifier

  validation:
    runs-on: ubuntu-24.04
    name: "Validate Gradle wrapper"
    steps:
      - uses: actions/checkout@v5
      - uses: gradle/actions/wrapper-validation@v5
